1. User Login Check

In [1]:
username = "admin"
password = "1234"

input_username = input("Enter Username: ")
input_password = input("Enter Password: ")

if input_username == username and input_password == password:
    print("Login Successful")
else:
    print("Login UNsuccessful")

Enter Username: admin
Enter Password: 1234
Login Successful

 2. Pass / Fail Analyzer

In [2]:
marks = [45, 78, 90, 33, 60]


pass_count = 0
fail_count = 0

for mark in marks:
    if mark >= 50:
        pass_count += 1
    else:
        fail_count += 1

print("Total Students:", len(marks))
print("Passed Students:", pass_count)
print("Failed Students:", fail_count)

Total Students: 5
Passed Students: 3
Failed Students: 2

3. Simple Data Cleaner

In [3]:
names = [" Alice ", "bob", " CHARLIE "]

cleaned_names = []

for name in names:
    cleaned_name = name.strip().lower()
    cleaned_names.append(cleaned_name)

print("Original list:", names)
print("Cleaned list:", cleaned_names)

Original list: [' Alice ', 'bob', ' CHARLIE ']
Cleaned list: ['alice', 'bob', 'charlie']


4. Message Length Analyzer

In [5]:
messages = ["Hi", "Welcome to the platform", "OK"]

for msg in messages:
    length = len(msg)
    print("Message:", msg)
    print("Length:", length)

    if length > 10:
        print("Status: Long Message ")
    else:
        print("Status: Short Message")

    print("----------------------")

Message: Hi
Length: 2
Status: Short Message
----------------------
Message: Welcome to the platform
Length: 23
Status: Long Message
----------------------
Message: OK
Length: 2
Status: Short Message
----------------------

5. Error Message Detector

In [6]:
logs = ["INFO", "ERROR", "WARNING", "ERROR"]

error_count = 0

for log in logs:
    if log == "ERROR":
        error_count += 1

print("Total ERROR entries:", error_count)

Total ERROR entries: 2